@{
    ViewData["Title"] = "Home Page";
    var exception = (string)TempData["Exception"];
}

@if (!string.IsNullOrEmpty(exception))
{
    <h2>Error:</h2>
    <p>@exception</p>
    <p>Please upload another CSV</p>
}

<h2>Upload CSV</h2>
<form method="post" enctype="multipart/form-data" asp-controller="Product" asp-action="UploadCsv">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-12">
                <input type="checkbox" value="true" name="ReplaceAll" />Delete if item does not exists in CSV (Update all Database)
            </div>
            <div class="col-md-12">
                <input type="file" name="file" />
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:20px;margin-bottom:20px">
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Start" />
            </div>
        </div>
    </div>
</form>
